.container {
  margin-top: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container img {
  max-height: 550px;

  border-radius: 10px;
  box-shadow: 5px 8px 10px #888;
}
